:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  justify-content: center;
  background-image: url('./images/Minefield.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.game-area {
  background-color: rgb(211, 211, 211, 0.75);
  padding: 2rem;
  margin: 4rem;
  border-radius: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Special Elite', cursive;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.difficulty-menu {
  width: 10rem;
  height: 1.5rem;
  border: 0.1rem solid black;
}

.reset-button {
  width: 5rem;
  height: 2rem;
  border-radius: 0.25rem;
  background-color: #2c3539;
  color: white;
  margin: 0.5rem;
}

table {
  border-spacing: 0;
  display: flex;
  justify-content: center;
}

.cell {
  background-color: grey;
  height: 1rem;
  width: 1rem;
  border-top: 0.1rem solid lightgray;
  border-left: 0.1rem solid lightgray;
  border-bottom: 0.1rem solid darkgray;
  border-right: 0.1rem solid darkgray;
  text-align: center;
  font-size: 0.75rem;
}

.revealed-cell {
  background-color: lightgrey;
  border: 0.1rem solid gray;
  height: 1rem;
  width: 1rem;
  text-align: center;
  font-size: 0.75rem;
  color: #4b0082;
}
