:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

.cell {
  background-color: grey;
  height: 1.5rem;
  width: 1.5rem;
  border-top: 0.1rem solid lightgray;
  border-left: 0.1rem solid lightgray;
  border-bottom: 0.1rem solid darkgray;
  border-right: 0.1rem solid darkgray;
  padding: 0;
}
